a {
  color: brown;
  text-decoration: none;
  font-weight: 600;
}

body {
  background-image: linear-gradient(#fcdb9f, #f9e4bb);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
}

h2, h3 {
  border-radius: 16px;
  margin-bottom: 4px;
  margin: 8px 0;
  padding: 8px;
  text-align: center;
  transition: all 1s;
}

input {
  margin-bottom: 4px;
}

li {
  margin: 0 auto 4px;
  max-width: 350px;
  text-align: left;
}

svg {
  color: brown;
}

.burst {
  background-image: radial-gradient(orange, orange, brown, black, black);
}

.control-container {
  padding: 8px;
}

.section {
  margin: 0 auto;
  max-width: 960px;
}

.tiny {
  font-size: 11px;
  margin: 0;
}

#comparo {
  display: grid;
  grid-template-areas:
    'controls image info';
  grid-template-columns: 200px 150px 1fr;
  margin-top: 32px;
  text-align: left;
}

#controls {
  display: flex;
  flex-direction: column;
  grid-area: controls;
}

#github {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#guitar-image {
  height: 250px;
}

#image-container {
  grid-area: image;
  text-align: center;
}

#info {
  display: flex;
  flex-direction: column;
  grid-area: info;
}

#page-title {
  width: 200px;
  margin: 20px auto;
  padding: 12px;
  border-radius: 24px;
}
